$(FileObject:class)$(FilePattern:developer/class/%.html)
$(silent:
	$(set:title=<A HREF="$(MakeFilename:../../user/class/%.html)">Developer Documentation</A>)
	$(set:viewmode=developer)
	$(set:methodtype=scope)
	$(define:checkview:%arg%)
	$(set:refPattern=%.html)
	$(ifset:docentry:$(MakeDocNode:$(docentry)))
	$(else:
		$(ifset:author:$(MakeDocNode:undocumented.$(author).$(MakeFilename:%)))
		$(else:$(MakeDocNode:undocumented.anonymous.$(MakeFilename:%)))
	)
)
$(include:class.stmpl)
