$(FileObject:namespace)$(FilePattern:developer/class/%.html)
$(silent:
	$(set:title=<A HREF="$(MakeFilename:../../user/class/%.html)">Developer Documentation</A>)
	$(set:viewmode=developer)
	$(set:methodtype=scope)
	$(define:checkview:%arg%)
)
$(include:namespace.stmpl)
