$(FileObject:class)$(FilePattern:user/class/%.html)
$(silent:
	$(set:title=<A HREF="$(MakeFilename:../../developer/class/%.html)">User Documentation</A>)
	$(set:viewmode=user)
	$(set:methodtype=scope_user)
	$(define:checkview:$(if:$access=public:%arg%))
	$(set:refPattern=%.html)
)
$(include:class.stmpl)
