$(FileObject:one)$(FilePattern:todo.php)

$(//:#===--- Top )
$(include:top.stmpl)

$(//:#===--- Menu)
$(include:menu.stmpl)

	<!-- Main Start -->
	<TD WIDTH="$(tablewidth)">
	<TABLE WIDTH="100%" BORDER=0 CELLPADDING=2 CELLSPACING=0 CLASS=ITEMBORDER BGCOLOR="#000080">
		<TR><TD>
		<P CLASS=SECTIONTITLE>
		To Do List
		</P>
		</TD></TR>
		<TR><TD>
		<TABLE WIDTH="100%" BORDER=0 CELLPADDING=2 CELLSPACING=0 CLASS=ITEM BGCOLOR="#FFFFFF">
			<TR><TD>
			
			<P><B>Select Architecture</B></P>
			<?php
				$doc_path = "$(docpath)";
				include_once("vsrcdoc_core.php");
				
				make_arch_bar("todo.php");
			?>

			<TABLE BORDER=0 CELLPADDING=2 CELLSPACING=2>
			<TR><TD BGCOLOR="#C0C0C0"><B>Class</B></TD><TD BGCOLOR="#C0C0C0"><B>Method</B></TD><TD BGCOLOR="#C0C0C0"><B>Description</B></TD></TR>
			$(forall:class:
				$(ifset:classtodo:
					<TR VALIGN=TOP><TD COLSPAN=2 BGCOLOR="#C0C0F0">Class <A HREF="$(docroot)/$(MakeFilename:developer/class/%.php)">$(ObjectName)</A></TD><TD BGCOLOR="#C0C0F0">$(list:$(classtodo))</TD></TR>
				)
				$(set:inclass=$(ObjectName))
				$(set:infile=$(docroot)$(MakeFilename:/developer/class/%.php))
				$(forall:method:
					$(ifset:todo:
						<TR VALIGN=TOP><TD BGCOLOR="#C0C0F0"><A HREF="$(infile)">$(inclass)</A></TD><TD BGCOLOR="#C0C0F0"><A HREF="$(infile)#$(href)">$(ObjectName)</A></TD><TD BGCOLOR="#C0C0F0">$(list:$(todo))</TD></TR>
					)
				)
			)
			</TABLE>
			</TD></TR>
		</TABLE>
		</TD></TR>
	</TABLE>
	</TD>
	<!-- Main End -->

$(//:#===--- Footer)
$(include:footer.stmpl)
