$(FileObject:docnode)$(FilePattern:developer/tree/%.html)
$(silent:
	$(set:title=<A HREF="$(MakeFilename:../../user/tree/%.html)">View User Document</A>)
	$(set:viewmode=developer)
	$(set:methodtype=scope)
	$(define:checkview:%arg%)
	$(set:refPattern=%.php)
)
$(include:docnode.stmpl)
