$(FileObject:one)$(FilePattern:doctree.html)

$(//:#===--- Top )
$(include:../class/top.stmpl)

$(//:#===--- Menu)
$(include:../class/menu.stmpl)

	<!-- Main Start -->
	<TD WIDTH="$(tablewidth)">
	<TABLE WIDTH="100%" BORDER=0 CELLPADDING=2 CELLSPACING=0 CLASS=ITEMBORDER BGCOLOR="#000080">
		<TR><TD>
		<P CLASS=SECTIONTITLE>
		Sitemap
		</P>
		</TD></TR>
		<TR><TD>
		<TABLE WIDTH="100%" BORDER=0 CELLPADDING=2 CELLSPACING=0 CLASS=ITEM BGCOLOR="#FFFFFF">
			<TR><TD>
			
			$(set:parent=)$(set:gap=)
			$(forall:docnode:$(include:subdocnode.stmpl))
			
			</TD></TR>
		</TABLE>
		</TD></TR>
	</TABLE>
	</TD>
	<!-- Main End -->

$(//:#===--- Footer)
$(include:../class/footer.stmpl)
